# Python venv
.venv/
venv/
env/

# Cache
__pycache__/
*.pyc

# Model artifacts
*.pt
*.safetensors

# Local models (unused now)
DisputeClassificationModel/dispute_classification_DistilBERT/
DisputeIndex/DisputeIndex_DistilBERT_Base/
NERModel/ner_legalbert_bilstm_crf_model/
