# Python venv
.venv/
venv/
env/

# PyCache
__pycache__/
*.pyc

# Model artifacts (optional)
*.pt


DisputeClassificationModel/dispute_classification_DistilBERT/
DisputeIndex/DisputeIndex_DistilBERT_Base/
NERModel/ner_legalbert_bilstm_crf_model/
*.pt
*.safetensors
