Flask==3.1.2
gunicorn==23.0.0
torch==2.3.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.43.4
tokenizers==0.19.1
numpy==2.0.1
pandas==2.2.2
regex==2024.5.15
pytorch-crf==0.7.2
sentencepiece==0.2.0
requests==2.32.3
tqdm==4.66.4
huggingface-hub==0.24.2
